{% extends 'bullrun/base.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
    <h1 align="center">Личный кабинет</h1>
<div class = "container" align="center">
<div class = "col-3 mt-4">
    {{request.user}}
<p><a class="py-2 d-none d-md-inline-block" style="color:#46AAFF" href="reset_password">Забыли пароль?</a></p>
</div>
</div>
{% endblock %}