<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/account" aria-label="Product">
<svg height="36px" version="1.1" viewBox="0 40 240 240" width="36px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><g fill="none" fill-rule="evenodd" id="suitcase" stroke="none" stroke-width="1"><g id="bounding-box"><polygon id="shape" points="0 0 240 0 240 240 0 240"/></g><path d="M200,80 L200,130 L135,130 L135,124 C135,119.665086 131.552162,116.135457 127.249179,116.003807 L127,116 L113,116 C108.581722,116 105,119.581722 105,124 L105,124 L105,130 L40,130 L40,80 L200,80 Z" fill="#E8F7FF" id="Combined-Shape"/><rect height="120" id="Rectangle" rx="15" stroke="#46AAF7" stroke-width="10" width="170" x="35" y="75"/><line id="Line-2-Copy" stroke="#46AAF7" stroke-linecap="square" stroke-width="10" x1="137" x2="202" y1="135" y2="135"/><rect height="29" id="button" rx="8" stroke="#46AAF7" stroke-width="10" width="20" x="110" y="121"/><line id="Line-2" stroke="#46AAF7" stroke-linecap="square" stroke-width="10" x1="40" x2="105" y1="135" y2="135"/><rect height="20" id="Rectangle" rx="8" stroke="#46AAF7" stroke-width="10" width="70" x="85" y="55"/></g></svg>        </a>
        <a class="py-2 d-none d-md-inline-block" style="color:#46AAFF" href="/">Главная</a>
        <a class="py-2 d-none d-md-inline-block" style="color:#46AAFF" href="/news">Новости</a>
        <a class="py-2 d-none d-md-inline-block" style="color:#46AAFF" href="/stat">Статистика</a>
          {% if request.user.is_authenticated %}
          <a class="py-2 d-none d-md-inline-block" style="color:#FF0000" href="/logout">Выйти</a>
          {%  else  %}
          <a class="py-2 d-none d-md-inline-block" style="color:#46AAFF" href="/register">Регистрация</a>
          <a class="py-2 d-none d-md-inline-block" style="color:#46AAFF" href="/login">Авторизация</a>
          {% endif %}
          {{request.user}}
      </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>