{% extends 'bullrun/base.html' %}

{% block title %}
Создать запись
{% endblock %}

{% block content %}
    <h1 align="center">Создать запись</h1>
        <div  class = "container">
    <form method = "post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.reason }}<br>
        {{ form.result }}<br>
        <button type="submit" class="btn btn-outline-success">Добавить</button>
    </form>
        </div>
    <span>{{error}}</span>
{% endblock %}