{% extends 'bullrun/base.html' %}

{% block title %}
Редактировать запись
{% endblock %}

{% block content %}
<div class = "container" align="center">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Название</label><br>
            <textarea class="form-control" style="width:240px; height:40px;" name="title"  >{{stats.title}}</textarea>
        </p>
        <p>
            <label>Причина</label><br>
            <textarea class="form-control" style="width:800px; height:240px;" name="reason"  >{{stats.reason}}</textarea>
        </p>
        <p>
            <label>Результат</label><br>
            <textarea class="form-control" style="width:800px; height:240px;" name="result"  >{{stats.result}}</textarea>
        </p>
        <input type="submit" class="btn btn-outline-success" value="Сохранить" >
    </form>
</div>
{% endblock %}