{% extends 'bullrun/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <h1 align="center">Главная страница</h1>
<div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" style="color:#46AAFF" href="/bitcoin">Bitcoin</a>
    <a class="py-2 d-none d-md-inline-block" style="color:#46AAFF" href="/stocks">Stocks</a>
    <a class="py-2 d-none d-md-inline-block" style="color:#46AAFF" href="/dollar">Сurrency</a>
</div>
{% endblock %}

