{% extends 'bullrun/base.html' %}

{% block title %}
Логин
{% endblock %}

{% block content %}
<div class = "container" align="center">
<div class = "col-3 mt-4">
    <form id ="add_form" method="post">
        {% csrf_token %}
        {{ form  }}
        <button form="add_form" type="submit" class="btn btn-outline-success mt-3">Войти</button>
    </form>
</div>
</div>
{% endblock %}