{% extends 'bullrun/base.html' %}

{% block title %}
Новости
{% endblock %}

{% block content %}
    <div class="jumbotron"  style="color:black">
      <h1 align="center" style ="color:black">
    Актуальные новости
      </h1>
    </div>

    <div align="center" class="container">

      {% for new, desc, i in mylist %}
              <h1>Новость:</h1> {{ new }}
              {{ value|linebreaks }}
              <img src="{{ i }}" alt="">
              <h4>описание:</h4>{{ desc }}
              {{ value|linebreaks }}
      {% endfor %}
    </div>
{% endblock %}