<h3>Введите новый пароль</h3>
<p>Пожалуйста введите ваш новый пароль дважды, чтобы мы могли убедиться в том, что он введен корректно.</p>

<form method="post">

    {% csrf_token %}
    {{form}}
    <input type="Submit" name="Update Password">


</form>
