<h3>Письмо с восстановлением пароля отправлено</h3>
<p>Мы отправили вам письмо с инструкциями по восстановлению
    пароля, если аккаунт с введенной вами почтой существует.
    Вы получите письмо в скором времени.</p>
<p>Если вы не получили письмо, пожалуйста убедитесь в том, что
    введенный вами адрес почты соответствует адресу, на который
    был зарегистрирован аккаунт, и проверьте папку спама.</p>
