<h3>Сброс пароля</h3>
<p>Забыли пароль? Введите вашу почту, и мы вышлем инструкции для восстановления пароля.</p>

<form method="post">

    {% csrf_token %}
    {{form}}
    <input type="Submit" name="Send email">


</form>