{% extends 'bullrun/base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<div class = "container" align="center">
<div class = "col-4 mt-4">
    <form id ="add_form" method="post">
        {% csrf_token %}
        {{ form }}
        <button form="add_form" type="submit" class="btn btn-outline-success mt-5">Зарегистрироваться</button>
    </form>
</div>
</div>
{% endblock %}