{% extends 'bullrun/base.html' %}

{% block title %}
Ваша статистика
{% endblock %}

{% block content %}
    <h1 align="center">Статистика</h1>
    {% if stats %}
    {% for el in stats %}
        <div  class = "container">
            <div align="center" class="row">
                <div align="center" class = "col-12 offset-1>">
                    <div class = "alert alert-primary mt -2">
                        {% csrf_token %}
                        <h3>{{ el.title }}</h3>
                        <p>{{ el.reason }}</p>
                        <p>{{ el.result }}</p>
                        <a class="btn btn-primary " href="edit/{{el.id}}" role="button" >Изменить</a>
                        <a class="btn btn-primary ml-3" href="delete/{{el.id}}" role="button" >Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    {%  endfor  %}
    {% else %}
        <p align="center">Статистики нет</p>
    {% endif %}
        <div align="right" class = "container">
            <a class="btn btn-primary" href="/create" role="button" >Добавить запись</a>
        </div>
{% endblock %}